<h2>Person delete confirmation</h2>
<hr class="my-4">
<div class="container" *ngIf="!deleteManyBoolean">
    <p> <b>{{deletedEmployee.firstName}} {{deletedEmployee.lastName}}</b> will be deleted, this action cannot be reversed.
        Are you sure you want to delete <b>{{deletedEmployee.firstName}} {{deletedEmployee.lastName}}</b>?</p>
</div>
<div class="container" *ngIf="deleteManyBoolean">
    <p>The following employees will be deleted:</p>
    <div *ngFor="let deletedEmployee of deletedEmployees">
       <b> -{{deletedEmployee.firstName}} {{deletedEmployee.lastName}}</b>
    </div>
    <br>
    This action cannot be reversed, are you sure you want to delete these employees?
</div>
<hr class="my-4">
<mat-dialog-actions *ngIf="!deleteManyBoolean">
    <button mat-button class="btn btn-outline-danger btn-lg" style="margin-left: 38%;"
        (click)="deleteEmployee()">Delete</button>
    <button mat-button mat-dialog-close class="btn btn-outline-primary btn-lg" style="margin-left: 2%;">Cancel</button>
</mat-dialog-actions>  

<mat-dialog-actions *ngIf="deleteManyBoolean">
    <button mat-button class="btn btn-outline-danger btn-lg" style="margin-left: 38%;"
        (click)="deleteEmployees()">Delete</button>
    <button mat-button mat-dialog-close class="btn btn-outline-primary btn-lg" style="margin-left: 2%;">Cancel</button>
</mat-dialog-actions> 