<h2>Department delete confirmation</h2>
<hr class="my-4">
<div class="container">
    <p>The product <b>{{deletedDepartment.name}}</b> will be deleted, this action cannot be reversed.
        Are you sure you want to delete product <b>{{deletedDepartment.name}}</b>?</p>
</div>
<hr class="my-4">
<mat-dialog-actions>
    <button mat-button class="btn btn-outline-danger btn-lg" style="margin-left: 38%;"
        (click)="deleteDepartment()">Delete</button>
    <button mat-button mat-dialog-close class="btn btn-outline-primary btn-lg" style="margin-left: 2%;">Cancel</button>
</mat-dialog-actions>