<div class="jumbotron jumboton-fluid centerText" style="background-color: white;">
    <div style="padding-bottom: 2rem;">
    <button class="btn btn-outline-dark" style="border-top-right-radius: 0;border-bottom-right-radius:0; outline: none; box-shadow: none;" routerLink='/' routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Employees</button>
    <button class="btn btn-outline-secondary" style="border-top-left-radius: 0;border-bottom-left-radius: 0; outline: none; box-shadow: none;" routerLink='/departments' routerLinkActive="active">Departments</button>  
    </div>
    <h1 class="display-4">Simple register CRUD</h1>
    <p class="lead">Simple program to manage employees.This program allows you to Create, Read (search), Update and
        Delete employees.</p>
    <hr class="my-4">
</div>
<router-outlet></router-outlet>